{% extends 'base.html' %}{% block content %}
{% if request.user.is_authenticated %}

{% for message in messages %}
<div>
    <span> [{{ message.created_at }}] </span> <i> {{ message.author }}: {{ message.text }}</i> <br>
</div>
{% endfor %}

<form action="/chat/" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" name="messageText" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Text...</label>
    </div>
    <button type="submit"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Senden
    </button>
</form>
{% else %}
<h1>Not logged in</h1>
<p>You are not logged in. To login please click</p> <a href="{% url 'login' %}">here</a>
{% endif %}
{% endblock content %}