  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <div class="greeting">Welcome to Django Chat</div>
  <div class="landingWrapper">
      <div class="loginSection">
        <h1 style="color: #3f51b5;">Please Log in</h1>
        {% if wrongPassword %}
          <p style="color: red;">Username or Password incorrect.</p>
        {% endif %}
        <form action="/login/" method="POST">
          {% csrf_token %}
          <div>
            <input type="hidden" name="redirect_to" value="chat" />
            <div>
              <input class="loginInput" type="text" name="username" placeholder="Email"/>
            </div>
            <div>
              <input class="loginInput" type="password" name="password" placeholder="Password"/>
            </div>
          </div>
          <button class="buttonLogin" type="submit">Let's go</button>
        </form>
        <span>new here? </span><a href="{% url 'signup' %}"> sign up!</a>
      </div>
  </div>