body {
    margin: 0;
    height: 100vh;
    height: 100dvh;
    overflow-y: hidden;
    font-family: 'Ubuntu', sans-serif;
}

.page-content {
    padding: 60px 60px;
}

.greeting {
    position: absolute;
    top: 100;
    left: 0;
    right: 0;
    height: 120px;
    color: rgb(255, 214, 80);
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appear 3s ease-in;
}

@keyframes appear {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  } 

.landingWrapper {
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginInput {
    border-radius: 4px;
    border: 2px solid; /* Set a default solid border */
    border-color: #3f51b5;
    border-image-slice: 1;
    font-size: 16px;
    margin: 10px 0;
    padding: 6px; /* You can adjust the padding value as needed */
    width: 300px; /* You can set the width based on your design */
    box-sizing: border-box;
}

.buttonLogin {
  background: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.buttonLogin:hover,
.buttonLogin:active {
  background-color: initial;
  background-position: 0 0;
  color: #3f51b5;
}

.buttonLogin:active {
    opacity: .5;
}

.color-grey {
    color: #8c8c8c;    
}

.addChatButton{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url('/static/img/chatBackground.jpg');
    background-size: cover;
    background-position: center;
}

#messageContainer {
    flex-grow: 1;
    overflow-y: auto;
    background-color: rgb(244, 181, 97);
    width: 100%;
    max-width: 400px;
    padding: 10px;
    backdrop-filter: blur(10px); /* Adjust the blur strength as needed */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Add a border to enhance the outline effect */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
}

.sendMessageForm {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff; /* Add background color if needed */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
}
